.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_checkbox {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    display: grid;
    justify-items: center;
}

.category_checkbox div {
    position: relative;
    display: flex;
    width: auto;
}
.category_checkbox div input {
    opacity: 0;
    width: 0;
    height: 0;
}
.category_checkbox div label {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 8em;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 0 5px 22px #171717;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

label {
    color: white;
}