.element {
    width: 72px;
    height: 72px;
    margin: 1px;
    background: white;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}

.element:hover {
    transition: 0.3s;
    transform: scale(1.12);
}

.element:empty {
    cursor:default;
    transform:none;
    background-color: #363636;
    height: 45px;
    max-height: 45px;
}

.symbol {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
.Liquid {
    color:dodgerblue;
}
.Gas {
    color: red;
}

.atomic_number {
    font-weight: 400;
    font-size: 10px;
    top: 7px;
    left: 7px;
    display: table;
    flex: 0 1;
}
.name {
    font-size: 10px;
    margin-bottom: 5px;
}



.Alkali-Metal {
    background-color: #1d4d55
}
.Alkaline-Earth-Metal {
    background-color: #632e3a
}
.Transition-Metal {
    background-color: #453d65
}
.Post-transition-Metal {
    background-color: #2c4e46
}
.Metalloid {
    background-color: #4d4317
}
.Nonmetal {
    background-color: #284168;
}
.Noble-Gas {
    background-color: #643a45
}
.Lanthanide {
    background-color: #004f7e;
}
.Actinide {
    background-color: #603b28;
}
.Unknown {
    background-color: #45474c;
}
.ManMade {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .3) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 75%, transparent 75%, transparent);
}
.Diatomic {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
}

.block-s {
    background-color: #B1CAE8;
}
.block-p {
    background-color: #8DC872;
}
.block-d {
    background-color: #EDEA4C;
}
.block-f {
    background-color: #EFB83A;
}
.block-d, .block-f, .block-p, .block-s {
    color: rgb(43, 43, 43)
}