.legend {
    margin-top: 6vh;
    display: flex;
    width:auto;
    position: absolute;
    left: 50%;
    transform: translateX(-76%);
    height: auto;
    justify-items: center;
}
.legend-stateOfMatter {
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
}
.legend-categories {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    margin-left: 6em;
}
.legend-categories-text:first-child {
    grid-column: 1 / 4
}
.stateOfMatter {
    width: 4em;
    height: 36px;
    border-radius: 20px;
    background-color: #363636;
    box-shadow: 0 5px 22px #171717;
    margin: 1px;
    margin-bottom: calc(0.6em - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;
}
.category {
    width: 8.6em;
    height: 36px;
    border-radius: 20px;
    box-shadow: 0 5px 22px #171717;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}
.category:hover, .stateOfMatter:hover {
    transition: 0.3s;
    transform: scale(1.12);
}

.legend-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
}

.legend-categories-text, .legend-stateOfMatter-text {
    padding-bottom: 1em;
    font-size: medium;
}