* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #363636;
    padding: 0;
    margin: 0;
}

.navbar {
    height: 55px;
    display:flex;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0 5px 22px #171717;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
}
.navbar-element {
    align-self: center;
    margin: 0;
}
.navbar-title {
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar-icons {
    display: flex;
    grid-gap: 15px;
    gap: 15px;
}
.icon-circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.clear {
    background-color: transparent;
}
.icon-circle:hover {
    transition: 0.3s;
    transform: scale(1.12);
    cursor: pointer;
}
.github-icon, .search-icon {
    width: 24px;
    height: 24px;
}

.element, .mini-element {
    width: 72px;
    height: 72px;
    margin: 2px;
    background: white;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
.element:hover{
    transition: 0.3s;
    transform: scale(1.12);
}

.symbol {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}
.liquid {
    color: blue;
}
.gas {
    color: red;
}
.atomic_number {
    font-weight: 400;
    font-size: 10px;
    top: 7px;
    left: 7px;
    display: table;
    flex: 0 1;
}
.name {
    font-size: 10px;
    margin-bottom: 5px;
}

#wrapper{
    position: absolute;
    width:100%;
    height: auto;
    display:flex;
    flex-direction: column;
}

.table-1,
.table-2 {
    margin-top: 15px; /* Adjust this value to change the distance */
    width: auto;
    display: grid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.table-1 {
    grid-template-columns: repeat(18, 1fr);
}
.table-1 > .element:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 18;
}
.table-1 > .element:nth-child(5),
.element:nth-child(13) {
    grid-column-start: 13;
}
.table-1 > .element:nth-child(57),
.element:nth-child(74) {
    grid-column-start: 4;
}

.table-2 {
    grid-template-columns: repeat(15, 1fr);
    padding: 0;
    margin-top: 600px; /* Adjust this value to change the distance */
    position: absolute;
    transform: translateX(-40%);
}

.Alkali-Metal {
    background-color: #1d4d55
}
.Alkaline-Earth-Metal {
    background-color: #632e3a
}
.Transition-Metal {
    background-color: #453d65
}
.Post-transition-Metal {
    background-color: #2c4e46
}
.Metalloid {
    background-color: #4d4317
}
.Nonmetal {
    background-color: #284168;
}
.Noble-Gas {
    background-color: #643a45
}
.Lanthanide {
    background-color: #004f7e;
}
.Actinide {
    background-color: #603b28;
}
.Unknown {
    background-color: #45474c;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.modal-content {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.basic-info {
    margin: 0;
    margin-bottom: 10px;
}
.modal-content input[type=text] {
    padding: 6px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.search-container {
    overflow-y: auto;
    height: 83vh;
}

.arrow {
    align-items: center;
    font-weight:bolder;
    font-size: 20px;
}