<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>Periodic Table</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="../static/media/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-element navbar-search">
            <div class="icon-circle clear">
                <img src="../static/media/searching-magnifying-glass.png" alt="Search" class="search-icon">
            </div>
        </div>
        <div class="navbar-element navbar-title">Periodic Table</div>
        <div class="navbar-element navbar-icons">
            <a href="https://github.com/MrTophatt">
                <div class="icon-circle">
                    <img src="../static/media/github.png" alt="Github" class="github-icon">
                </div>
            </a>
        </div>
    </nav>
    <div id="wrapper">
        <div class="table-1"></div>
        <div class="table-2"></div>
    </div>
    <div id="myModal" class="modal">
        <div class="arrow left-arrow icon-circle">
            ←
        </div>
        <div class="modal-content">
            <input id="searchInput" type="text" placeholder="Search..">
            <div class="search-container">
                <h2 class="Title"></h2>
                <p class="basic-info"></p>
            </div>
        </div>
        <div class="arrow right-arrow icon-circle">
            →
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>