<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>Periodic Table</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/element.css">
    <link rel="stylesheet" href="../static/css/modal/title.css">
    <link rel="stylesheet" href="../static/css/modal/searchbar.css">
    <link rel="stylesheet" href="../static/css/modal/filter.css">
    <link rel="stylesheet" href="../static/css/modal/sliders.css">
    <link rel="stylesheet" href="../static/css/modal/body.css">
    <link rel="stylesheet" href="../static/css/modal/scrollbar.css">
    <link rel="stylesheet" href="../static/css/modal/arrows.css">
    <link rel="stylesheet" href="../static/css/legend.css">
    <link rel="icon" type="image/png" href="../static/media/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-element navbar-search">
                <div class="icon-circle clear">
                    <img src="../static/media/searching-magnifying-glass.png" alt="Search" class="search-icon">
                </div>
            </div>
            <label class="navbar-element switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="navbar-element navbar-title">Periodic Table</div>

        <div class="navbar-right">
            <div class="navbar-element navbar-icons">
                <a href="https://github.com/MrTophatt">
                    <div class="icon-circle">
                        <img src="../static/media/github.png" alt="Github" class="github-icon">
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <div class="table-1"></div>
        <div class="legend">
            <div class="legend-text legend-stateOfMatter">
                <span class="legend-stateOfMatter-text">
                    State of matter at <br>
                    room temp (20 - 25°C)
                </span>
                <span class="stateOfMatter Solid">Solid</span>   
                <span class="stateOfMatter Liquid">Liquid</span>
                <span class="stateOfMatter Gas">Gas</span>
            </div>
            <div class="legend-text legend-categories">
                <div class="legend-categories-text">Element Categories</div>
                <div class="category Alkali-Metals">Alkali Metal</div>
                <div class="category Alkaline-Earth-Metals">Alkaline Earth Metal</div>
                <div class="category Transition-Metals">Transition Metal</div>
                <div class="category Poor-Metals">Poor Metal</div>
                <div class="category Metalloids">Metalloid</div>
                <div class="category Nonmetals">Nonmetal</div>
                <div class="category Halogens">Halogen</div>
                <div class="category Noble-Gases">Noble Gas</div>
                <div class="category Lanthanides">Lanthanide</div>
                <div class="category Actinides">Actinide</div>
                <div class="category ManMade" style="background-color: #363636;">Synthetic</div>
                <div class="category Diatomic" style="background-color: #363636;">Diatomic</div>
            </div>
    </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <input id="searchInput" type="text" placeholder="Search Element...">

            <div class="filters">
                <div class="ranges">
                    <div class="range_container">
                        <label for="sliders_control" style="padding-bottom: 5px;">Atomic Mass:</label>
                        <div class="sliders_control">
                            <input id="fromSlider" type="range" value="0" min="0" max="300" step="0.001"/>
                            <input id="toSlider" type="range" value="300" min="0" max="300" step="0.001"/>
                        </div>
                        <div class="form_control">
                            <div class="form_control_container">
                                <div class="form_control_container__time">Min</div>
                                <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="300" step="0.001"/>
                            </div>
                            <div class="form_control_container">
                                <div class="form_control_container__time">Max</div>
                                <input class="form_control_container__time__input" type="number" id="toInput" value="300" min="0" max="300" step="0.001"/>
                            </div>
                        </div>
                    </div>

                    <div class="range_container">
                        <label for="sliders_control" style="padding-bottom: 5px;">Density:</label>
                        <div class="sliders_control">
                            <input id="fromSlider" type="range" value="0" min="0" max="23" step="0.001"/>
                            <input id="toSlider" type="range" value="23" min="0" max="23" step="0.001"/>
                        </div>
                        <div class="form_control">
                            <div class="form_control_container">
                                <div class="form_control_container__time">Min</div>
                                <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="23" step="0.001"/>
                            </div>
                            <div class="form_control_container">
                                <div class="form_control_container__time">Max</div>
                                <input class="form_control_container__time__input" type="number" id="toInput" value="23" min="0" max="23" step="0.001"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkbox_container category_checkbox">
                    <div>
                        <label for="alkaliMetalsCheckbox" class="Alkali-Metals">Alkali Metal</label>
                        <input id="alkaliMetalsCheckbox" type="checkbox" value="Alkali Metals">
                    </div>

                    <div>
                        <label for="AlkalineEarthMetalsCheckbox" class="Alkaline-Earth-Metals">Alkaline Earth Metal</label>
                        <input id="AlkalineEarthMetalsCheckbox" type="checkbox" value="Alkaline Earth Metals">
                    </div>

                    <div>
                        <label for="TransitionMetalsCheckbox" class="Transition-Metals">Transition Metal</label>
                        <input id="TransitionMetalsCheckbox" type="checkbox" value="Transition Metals">
                    </div>

                    <div>
                        <label for="poorMetalsCheckbox" class="Poor-Metals">Poor Metal</label>
                        <input id="poorMetalsCheckbox" type="checkbox" value="Poor Metals">
                    </div>

                    <div>
                        <label for="metalloidCheckbox" class="Metalloids">Metalloid</label>
                        <input id="metalloidCheckbox" type="checkbox" value="Metalloids">
                    </div>

                    <div>
                        <label for="nonmetalCheckbox" class="Nonmetals">Nonmetal</label>
                        <input id="nonmetalCheckbox" type="checkbox" value="Nonmetals">
                    </div>

                    <div>
                        <label for="halogenCheckbox" class="Halogens">Halogen</label>
                        <input id="halogenCheckbox" type="checkbox" value="Halogens">
                    </div>

                    <div>
                        <label for="nobleGasCheckbox" class="Noble-Gases">Noble Gas</label>
                        <input id="nobleGasCheckbox" type="checkbox" value="Noble Gases">
                    </div>

                    <div>
                        <label for="lanthenideCheckbox" class="Lanthanides">Lanthanide</label>
                        <input id="lanthenideCheckbox" type="checkbox" value="Lanthanides">
                    </div>

                    <div>
                        <label for="actinideCheckbox" class="Actinides">Actinide</label>
                        <input id="actinideCheckbox" type="checkbox" value="Actinides">
                    </div>
                </div>

                <div class="checkbox_container diatomic_checkbox">
                    <label for="diatomicCheckbox">Diatomic:</label>
                    <input id="diatomicCheckbox" type="checkbox">
                    <label for="monatomicCheckbox">Monatomic:</label>
                    <input id="monatomicCheckbox" type="checkbox">
                </div>

                <div class="checkbox_container material_checkbox">
                    <label for="syntheticCheckbox">Synthetic:</label>
                    <input id="syntheticCheckbox" type="checkbox">
                    <label for="naturalCheckbox">Natural:</label>
                    <input id="naturalCheckbox" type="checkbox">
                </div>

                <div class="checkbox_container state_checkbox">
                    <label for="solidCheckbox">Solid</label>
                    <input id="solidCheckbox" type="checkbox" value="solid">
                    <label for="liquidCheckbox">Liquid</label>
                    <input id="liquidCheckbox" type="checkbox" value="liquid">
                    <label for="gasCheckbox">Gas</label>
                    <input id="gasCheckbox" type="checkbox" value="gas">
                </div>
            </div>

            <div class="Title">
                <div class="Title-top">
                    <h1 class="Title-num"></h1>
                    <h1 class="Title-symbol"></h1>
                </div>
                <h2 class="Title-name"></h2>
            </div>
            <div class="search-container">
                <p class="basic-info"></p>
            </div>
            <div class="footer">
                <div class="arrow left-arrow">
                    ←
                </div>
                <div class="arrow right-arrow">
                    →
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
    <script type="text/javascript" src="../static/js/sliders filters.js"></script>
    <script type="text/javascript" src="../static/js/arrows.js"></script>
    <script type="text/javascript" src="../static/js/modals.js"></script>
    <script type="text/javascript" src="../static/js/element.js"></script>
    <script type="text/javascript" src="../static/js/table colours switch.js"></script>
    <script type="text/javascript" src="../static/js/legend filter.js"></script>
</body>
</html>